extends: default
ignore: |
  pnpm-lock.yaml
  apps/web/pnpm-lock.yaml
  node_modules/
  .venv/
  dist/
  build/
rules:
  line-length:
    max: 120
    level: warning
  comments-indentation: disable
  comments: disable
  document-start: disable
  new-line-at-end-of-file: disable
  truthy:
    allowed-values: ['true', 'false', 'on', 'off']
