extends: default
ignore: |
  pnpm-lock.yaml
  apps/web/pnpm-lock.yaml
  node_modules/
  **/node_modules/
  .venv/
  **/.venv/
rules:
  line-length:
    max: 200
    level: warning
  indentation: disable
  braces: disable
  brackets: disable
  comments-indentation: disable
  comments: disable
  document-start: disable
  new-line-at-end-of-file: disable
  truthy:
    level: warning
    check-keys: false
